<div id="lastest-projects" class="container">

    <div class="row text-center">
        <h2>Latest Projects</h2>
        <hr>
    </div>

    <div class="row thumbnails">
        <div class="col-md-3">
            <img src="lib/img/python-icon.jpg" alt="Projeto" href="https://github.com/yagomarialva/EstruturaDeDadosPython">
            <h3> <a href="https://github.com/yagomarialva/EstruturaDeDadosPython">Project to develop lists and linked lists in python.</a></h3>
            <time>April 30, 2020</time>
        </div>
        <div class="col-md-3">
            <img src="lib/img/python-icon.jpg" alt="Projeto">
            <h3><a href="https://github.com/yagomarialva/EstruturaDeDadosPython">Project to develop lists and linked lists in python.</a></h3>
            <time>April 30, 2020</time>
        </div>
        <div class="col-md-3">
            <img src="lib/img/python-icon.jpg" alt="Projeto">
            <h3><a href="https://github.com/yagomarialva/EstruturaDeDadosPython">Project to develop lists and linked lists in python.</a></h3>
            <time>April 30, 2020</time>
        </div>
        <div class="col-md-3">
            <img src="lib/img/python-icon.jpg" alt="Projeto">
            <h3><a href="https://github.com/yagomarialva/EstruturaDeDadosPython">Project to develop lists and linked lists in python.</a></h3>
            <time>April 30, 2020</time>
        </div>

    </div>

</div>